# Backend API URL (for fetch/API client)
VITE_API_BASE_URL=https://backend-pl4x.onrender.com

# Backend API URL (for Nuxt)
NUXT_PUBLIC_API_BASE=https://backend-pl4x.onrender.com/

# Telegram Bot Token
VITE_BOT_TOKEN=your_bot_token

# Telegram Bot Username (для авторизации)
NUXT_PUBLIC_TELEGRAM_BOT_USERNAME=your_bot_username

# Environment
NODE_ENV=development
